# ==================== EMAIL ====================
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_16_digit_app_password

# ==================== TWILIO ====================
TWILIO_SID=ACxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH=your_auth_token
TWILIO_FROM=+1xxxxxxxxxx
TWILIO_TO=+91xxxxxxxxxx

# ==================== WHATSAPP ====================
WHATSAPP_GROUP_ID=https://chat.whatsapp.com/XXXXXXXXXXXXXXXXXXXX
#Your Gp ID is  the part ahead of https://chat.whatsapp.com/  ->  "XXXXXXXXXXXXX"
#Copy this to WHATSAPP_GROUP_ID
# ==================== YOUR LOCATION ====================
OWNER_LAT=18.000000
OWNER_LON=65.000000
DEGREES=180